// variables

//colors
$clr-background: #e6e0d2;
$clr-background-dark: #463f2f;
$clr-hover: #ff9800;
$clr-error: rgb(214, 26, 26);

// fonts
$ft-heading: "Verdana, sans-serif";

// breakpoints

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1025px;

html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: $clr-background;
  font-size: 18px;
  color: black;
  overflow-x: hidden;
  min-height: 100vh;
}

#mainContainer {
  margin-inline: 4rem;
  display: flex;
  flex-direction: column;
  position: relative;
  @media screen and (max-width: $bp-tablet) {
    margin-inline: 2em;
  }

  .modal-dialog.modal-submission {
    width: 20em;
    .modal-title.success {
      color: green;
    }
    .modal-title.failure {
      color: $clr-error;
    }
  }

  .modal-dialog.modal-recipe {
    overflow-y: scroll;
    .modal-content {
      .modal-body {
        .card-recipe-image {
          width: 100%;
          height: 10em;
          object-fit: cover;
          margin-bottom: 2em;
        }

        .recipe-description {
          text-align: justify;
        }
      }
    }
  }
}

header {
  nav.navbar {
    .navbar-nav {
      margin-left: 3em;
      display: flex;
      gap: 3em;

      .nav-link {
        color: black;
        transition: color 0.3s;

        &.active {
          text-decoration: underline;
        }

        &:hover {
          color: $clr-hover;
        }
      }
    }

    @media screen and (max-width: $bp-tablet) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .navbar-brand {
        margin-right: 0 !important;
      }

      .navbar-nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0;
        gap: 1em;
        width: 100%;
        & > * {
          text-align: center;
        }
      }
    }
  }
}

main {
  position: relative;

  .hero {
    background-image: url(./Assets/Images/lily-banse--YHSwy6uqvk-unsplash.jpg);
    height: 350px;
    width: 120vw;
    margin-left: -15vw;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      color: white;
      font-size: 3em;
      font-family: $ft-heading;
      letter-spacing: 1px;
      font-weight: 500;
    }

    @media screen and (max-width: $bp-desktop) {
      h1 {
        text-align: center;
        max-width: 80%;
      }
    }
  }

  .content-section {
    margin-block: 4em;
    min-height: 18em;
    h3 {
      position: relative;
      font-size: 1.3em;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        opacity: 60%;
        bottom: -10px;
        width: 120%;
        height: 9px;
        background-image: url("./Assets/dual-underline.svg");
        background-size: contain;
        background-repeat: no-repeat;
      }
    }

    .recipe-grid {
      padding-block: 2em;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 2em;

      .card {
        background-color: inherit;
        border: none;
        width: 15em;
        cursor: pointer;

        .card-body {
          padding: 1em;
          padding-top: 0.5em;
        }

        .image-container {
          position: relative;
          img:not(.heart-icon) {
            height: 10em;
            object-fit: cover;
            position: relative;
          }

          .heart-icon {
            position: absolute;
            top: 0.5em;
            right: 0.5em;
            opacity: 0.5;
            width: 2em;
            height: 2em;
            background-size: contain;
            background-repeat: no-repeat;
            transition: transform 0.3s, opacity 0.5s;

            &:hover {
              transform: scale(1.2);
              opacity: 1;
            }
          }
        }
      }

      @media screen and (max-width: $bp-tablet) {
        .card {
          width: 100%;
        }
      }
    }

    .no-recipes {
      min-height: 20em;
      & > div {
        padding-block: 2em;
      }

      .collapse > .card-body,
      .collapsing > .card-body {
        width: 100%;
      }
    }
  }

  .form-container {
    max-width: 60%;
    margin-block: 4em;

    @media screen and (max-width: $bp-tablet) {
      max-width: 90%;
    }

    div.button-container {
      display: flex;
      justify-content: center;
      button {
        width: 10em;
      }
    }
  }
}

button#backToTopBtn {
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: none;
}

footer {
  position: relative;
  .footer {
    height: 10em;
    background-color: $clr-background-dark;
    position: absolute;
    width: 120vw;
    margin-left: -15vw;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: $bp-tablet) {
      margin-left: -20vw;
    }

    .social-links {
      list-style: none;
      padding: 0;
      margin: 0;
      width: 80%;
      display: flex;
      justify-content: center;
      gap: 2em;

      .social-link {
        color: white;
        text-decoration: none;
        transition: color 0.3s;

        &:hover {
          color: $clr-hover;
        }
      }
    }
  }
}
