html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #e6e0d2;
  font-size: 18px;
  color: black;
  overflow-x: hidden;
  min-height: 100vh;
}

#mainContainer {
  margin-inline: 4rem;
  display: flex;
  flex-direction: column;
  position: relative;
}
@media screen and (max-width: 768px) {
  #mainContainer {
    margin-inline: 2em;
  }
}
@media screen and (min-width: 768px) {
  #mainContainer .modal-dialog.modal-submission {
    width: 20em;
  }
}
#mainContainer .modal-dialog.modal-submission .modal-header {
  border: none;
}
#mainContainer .modal-dialog.modal-submission .modal-title.success {
  color: green;
}
#mainContainer .modal-dialog.modal-submission .modal-title.failure {
  color: rgb(214, 26, 26);
}
#mainContainer .modal-dialog.modal-recipe {
  overflow-y: scroll;
}
#mainContainer .modal-dialog.modal-recipe .modal-content .modal-body .card-recipe-image {
  width: 100%;
  height: 10em;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 2em;
}
#mainContainer .modal-dialog.modal-recipe .modal-content .modal-body .recipe-description {
  text-align: justify;
}

header nav.navbar .navbar-nav {
  margin-left: 3em;
  display: flex;
  gap: 3em;
}
header nav.navbar .navbar-nav .nav-link {
  color: black;
  transition: color 0.3s;
}
header nav.navbar .navbar-nav .nav-link.active {
  text-decoration: underline;
}
header nav.navbar .navbar-nav .nav-link:hover {
  color: #ff9800;
}
@media screen and (max-width: 768px) {
  header nav.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  header nav.navbar .navbar-brand {
    margin-right: 0 !important;
  }
  header nav.navbar .navbar-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    gap: 1em;
    width: 100%;
  }
  header nav.navbar .navbar-nav > * {
    text-align: center;
  }
}

main {
  position: relative;
}
main .hero {
  background-image: url(./Assets/Images/lily-banse--YHSwy6uqvk-unsplash.jpg);
  height: 350px;
  width: 120vw;
  margin-left: -15vw;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .hero h1 {
  color: white;
  font-size: 3em;
  font-family: "Verdana, sans-serif";
  letter-spacing: 1px;
  font-weight: 500;
}
@media screen and (max-width: 1025px) {
  main .hero h1 {
    text-align: center;
    max-width: 80%;
  }
}
main .content-section {
  margin-block: 4em;
  min-height: 18em;
}
main .content-section .top-selection {
  display: flex;
  justify-content: space-between;
}
main .content-section .top-selection .dropdown-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}
main .content-section .top-selection .dropdown-menu .clickable {
  cursor: pointer;
}
main .content-section h3 {
  position: relative;
  font-size: 1.3em;
}
main .content-section h3::after {
  content: "";
  position: absolute;
  left: 0;
  opacity: 60%;
  bottom: -10px;
  width: 120%;
  height: 9px;
  background-image: url("./Assets/dual-underline.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
main .content-section .recipe-grid {
  padding-block: 2em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5em;
  min-height: 500px;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  main .content-section .recipe-grid {
    grid-template-columns: repeat(auto-fit, 250px);
  }
}
main .content-section .recipe-grid .card {
  background-color: inherit;
  border: none;
  width: 15em;
  cursor: pointer;
}
main .content-section .recipe-grid .card .card-body {
  padding: 1em;
  padding-top: 0.5em;
}
main .content-section .recipe-grid .card .image-container {
  position: relative;
}
main .content-section .recipe-grid .card .image-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10em;
  pointer-events: none;
  background-image: radial-gradient(circle, transparent, rgba(0, 0, 0, 0.2) 90%);
}
main .content-section .recipe-grid .card .image-container img:not(.heart-icon) {
  height: 10em;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}
main .content-section .recipe-grid .card .image-container .heart-icon {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  opacity: 0.5;
  width: 2em;
  height: 2em;
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 0.3s, opacity 0.5s;
}
main .content-section .recipe-grid .card .image-container .heart-icon:hover {
  transform: scale(1.2);
  opacity: 1;
}
@media screen and (max-width: 768px) {
  main .content-section .recipe-grid .card {
    width: 100%;
  }
}
main .content-section .recipe-grid .loading-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .content-section .recipe-grid .loading-spinner-container #loading-spinner {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}
@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
main .content-section .no-recipes {
  min-height: 20em;
}
main .content-section .no-recipes > div {
  padding-block: 2em;
}
main .content-section .no-recipes .collapse > .card-body,
main .content-section .no-recipes .collapsing > .card-body {
  width: 100%;
}
main .form-container {
  max-width: 60%;
  margin-block: 4em;
}
@media screen and (max-width: 768px) {
  main .form-container {
    max-width: 90%;
  }
}
main .form-container .input-placeholder-fade::-moz-placeholder {
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  opacity: 0;
}
main .form-container .input-placeholder-fade::placeholder {
  transition: opacity 0.3s ease;
  opacity: 0;
}
main .form-container div.button-container {
  display: flex;
  justify-content: center;
}
main .form-container div.button-container button {
  width: 10em;
}

button#backToTopBtn {
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: none;
}

footer {
  position: relative;
}
footer .footer {
  height: 10em;
  background-color: #463f2f;
  position: absolute;
  width: 120vw;
  margin-left: -15vw;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  footer .footer {
    margin-left: -20vw;
  }
}
footer .footer .social-links {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 80%;
  display: flex;
  justify-content: center;
  gap: 2em;
}
footer .footer .social-links .social-link {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}
footer .footer .social-links .social-link:hover {
  color: #ff9800;
}/*# sourceMappingURL=style.css.map */