// variables

//colors
$clr-background: #e6e0d2;
$clr-background-dark: #463f2f;
$clr-hover: #ff9800;

// fonts
$ft-heading: "Verdana, sans-serif";

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: $clr-background;
  font-size: 18px;
  color: black;
  overflow-x: hidden;
}

#mainContainer {
  margin-inline: 4rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

header {
  nav.navbar {
    .navbar-nav {
      margin-left: 3em;
      display: flex;
      gap: 3em;

      .nav-link {
        color: black;
        transition: color 0.3s;

        &.active {
          font-weight: bold;
        }

        &:hover {
          color: $clr-hover;
        }
      }
    }
  }
}

main {
  position: relative;

  .hero {
    background-image: url(./Assets/Images/lily-banse--YHSwy6uqvk-unsplash.jpg);
    height: 350px;
    width: 120vw;
    margin-left: -15vw;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      color: white;
      font-size: 3em;
      font-family: $ft-heading;
      letter-spacing: 1px;
      font-weight: 500;
    }
  }

  .content-section {
    margin-block: 4em;
    h3 {
      position: relative;
      font-size: 1.3em;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        opacity: 60%;
        bottom: -10px;
        width: 120%;
        height: 9px;
        background-image: url("./Assets/dual-underline.svg");
        background-size: contain;
        background-repeat: no-repeat;
      }
    }

    .recipe-grid {
      padding-block: 2em;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 2em;

      .card {
        background-color: inherit;
        border: none;
        width: 15em;

        img {
          height: 10em;
          object-fit: cover;
        }
      }
    }
  }

  .form-container {
    max-width: 50%;
    margin-block: 4em;

    .button-container {
      display: flex;
      justify-content: center;
      button {
        width: 10em;
      }
    }
  }
}

footer {
  position: relative;
  .footer {
    height: 10em;
    background-color: $clr-background-dark;
    position: absolute;
    width: 120vw;
    margin-left: -15vw;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    .social-links {
      list-style: none;
      padding: 0;
      margin: 0;
      width: 80%;
      display: flex;
      justify-content: center;
      gap: 2em;

      .social-link {
        color: white;
        text-decoration: none;
        transition: color 0.3s;

        &:hover {
          color: $clr-hover;
        }
      }
    }
  }
}
